* {
  box-sizing: border-box;
}

.dynamicTimeSelect{
    display: flex;
    flex-direction: row;
}

.dynamicFlex{
    width: 200px;
    height: 200px;
}

.dynamicTimeSelect h1{
    font-size:100px;
    color: #8a286e;
}