<!doctype html>
<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Navigation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <h2>Navigation</h2>
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="room"  id="room"  placeholder="Write room number" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button> 
    </form> 
    {% if invalid %}
    <p>{{invalid}}</p>

    {% elif invalidInput %}
    <p>{{invalidInput}}</p>

    {% elif redirecting %}
    <p>{{redirecting}}</p>
    
    {% elif failed %}
    <p>{{failed}}</p>
    {% endif %} 
    <script type="text/javascript">
        //sending the room number
        $(document).on('submit','#roomSearching',function(e){
            e.preventDefault();
            $.ajax({
                type:"POST",
                url:'/robot/roomSearch/',
                data:{
                    roomnumber:$('#roomnumber').val(),

                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function (data){
                    $('h2').html(data);
                }
            });
        });
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>