<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link href="../static/styles/datepicker.css" type="text/css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div class="dynamicTimeSelect">
        <h1>asd</h1>
        <div class="dynamicFlex">
            <botton>clickMe</botton>
        </div>
         <div class="dynamicFlex">
            <botton>clickMe</botton>
        </div>
         <div class="dynamicFlex">
            <botton>clickMe</botton>
        </div>
         <div class="dynamicFlex">
            <botton>clickMe</botton>
        </div>
    </div>
</body>
</html>